<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="public/css/style.css">
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_46-512.png">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Home</title>

</head>
<body>
    
        {{>header}}
        <div class="container">
            <h6 class="title">Explore the air quality anywhere in the world</h6>
            <p>{{object.time}}</p>
        </div>
            <div class="form-style">
                <div class="container">
                    <div class="form">
                        <form action="/action_page.php">
                            <div class="wrap">
                                <div class="search">
                                    <input type="text" class="searchTerm" placeholder="Your location, country, city">
                                    <button type="submit" class="searchButton">
                                        <img src="https://image.flaticon.com/icons/png/512/482/482631.png" alt="search-button" class="img-form">
                                    </button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" id="middle">
                    <div class="col-md-6 pr-0">
                        <div class="pic">
                            <div class="head">
                                <div class="location">
                                    <p id="var-location"></p>
                                    <hr class="line">
                                </div>
                            </div>

                            <div class="center">
                                <img id="var-img"> 
                                <div class="div-air">
                                    <p id='var-air'></p>
                                    <p id ='var-air1'>US AQI</p>
                                </div>
                                <p id= "var-condition"></p>
                                <div class="line-center"></div>
                                <img id='tempImg'>
                                <p id= 'temp'></p>
                                <p id= 'humid'></p>
                                <p id= 'wind'></p>
                            </div>
                                
                        </div>
                       
                    </div>

                    <div class="col-md-6">
                        <div class="para">
                            Current time Air pollution and forecasts
                        </div>
                        
                    </div>
                </div>
            </div>
       
        
        
        {{>footer}}
        
        <script src="/js/script.js"></script>
</body>
</html>