<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="public/css/style.css">
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_46-512.png">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Home</title>

</head>
<body>
    
        {{>header}}
        <div class="container">
            <h6 class="title">Explore the air quality anywhere in the world</h6>
            <p>{{object.time}}</p>
        </div>
            <div class="form-style">
                <div class="container">
                    <div class="form">
                        <form action="/action_page.php">
                            <div class="wrap">
                                <div class="search">
                                    <input type="text" class="searchTerm" placeholder="Your location, country, city">
                                    <button type="submit" class="searchButton">
                                        <img src="https://image.flaticon.com/icons/png/512/482/482631.png" alt="search-button" class="img-form">
                                    </button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            

                <div class="row" id="middle">
                    <div class="col-md-6 pr-0">
                        <div class="all">
                            <div class="head">
                                <p id="var-location"></p>
                                <hr class="line-head">
                            </div>

                            <div id="center-color">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img id="var-img"> 
                                    </div>
                                    <div class="col-sm-1 pr-0">
                                        <div class="verticalLine">
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="div-air">
                                            <p id='var-air'></p>
                                            <p id ='var-air1'>US AQI</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="div-air">
                                            <p id= 'var-condition'></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm-4">
                                 <img src="image/web-img/iconfinder_weather_46_2682805.svg" id='tempImg'>
                                 <p id= 'temp'></p>
                            </div>

                            <div class="col-sm-3 pl-0 pr-0 a">
                                <img src="image/web-img/humid.svg" id="img-humid">
                                <p id= 'humid'></p>
                            </div>

                            <div class="col-sm-4 pr-0 ">
                                <img src="image/web-img/snowing.svg" id="img-wind">
                                <p id= 'wind'></p> 
                            </div>

                        </div>  
                                 
                           
                        </div>
                    </div>

                     <div class="col-md-6">
                        <div class="para">
                            Current time Air pollution and forecasts
                        </div>    
                    </div>
                </div>
            </div>
                      
                    

                   
           
{{!-- 
                        <div class="center">
                                <img id="var-img"> 
                                <div class="div-air">
                                    <p id='var-air'></p>
                                    
                                    <p id ='var-air1'>US AQI</p>
                                </div>
                                <div class="div-air">
                                    <p id= "var-condition"></p>
                                </div>
                                
                                 <div class="line-center"></div>
                                <img id='tempImg'>
                                <p id= 'temp'></p>
                                <p id= 'humid'></p>
                                <p id= 'wind'></p>
                        </div>
                                
                        </div> 
                       
                    </div> --}}

              
        <section class = "about" id="about-link">
            <div class="row">
                <div class="col-sm-6" >
                    <h1 class= "dev-title">The world need to change</h1> 
                    <p class= "dev-para">
                        Air pollution is a mixture of solid particles and gases in the air. Car emissions, chemicals from factories, dust, pollen and mold spores may be suspended as particles.
                    </p>
                </div>
                <div class="col-sm-6" id="dev-bg" >
                    <h1 class="dev-header">Developer</h1>
                    <img src="/image/developer.jpg" class="dev-img">
                    <h2 id="dev-name">YONG</h2>
                    <p id="dev-sub">College student, <br> back-end developer</p>
                    <img src="https://image.flaticon.com/icons/svg/1182/1182902.svg" class="dev-img1">
                    
                </div>
            </div>
        </section>
        
        
        <div id="contact-link">
            {{>footer}}
        </div>
        
        
        <script src="/js/script.js"></script>
</body>
</html>