<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="public/css/style.css">
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_46-512.png">
    <title>Home</title>

</head>
<body>
    
        {{>header}}
        <p>{{object.time}}</p>
    
</body>
</html>