@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

/* header */
#brand-name{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: inherit;
    color: #2F3640;
}

.navbar{
    background: #EEEEEE;
}












/* Index */

header{

}


