@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* header */
#brand-name{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: inherit;
    color: #2F3640;
}

.navbar{
    background: #EEEEEE;
}













/* Index */

.title{
  padding-top: 1rem;
  text-align: center;
  height:4rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 47px;
  color: #414141;
  margin-top: 1rem;
}

.form-style{
  background-image: url('https://images.unsplash.com/photo-1533425979598-2ae37622abd2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1508&q=80');
  width:100%;
  height:100vh;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}


.form {
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%; 
  margin-bottom: 1rem;
  
}
.search {
  width: 100%;
  display: flex;
  text-align: center;
}

.searchTerm {
  text-align: center;
  width: 100%;
  border: 1px solid #000000;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  margin-top: 0.5rem;
}

.searchTerm:focus{
  color: #2d3436;
}
 
.searchButton {
  margin-top: 0.5rem;
  width: 40px;
  height: 32.3px;
  border: 1px solid #000000;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
} 

.img-form {
  width: 80%;
  height: 80%;
  padding-bottom: 3px;
}


#middle{
  margin-right: 0;
  justify-content: center;
}


.para{
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  font-size: 45px;
  line-height: 80px;
  color: rgb(8, 8, 8);
} 


.pic{
  width:100%;
  height:100%;
  background: #FFFFFF;
  border-radius: 40px;
} 

 .head{
  
  background: #C4C4C4;
  border-radius: 20px;
}

.location{
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;

}

.line{
  width:80%;
  border: 1px solid #000000;
  transform: rotate(-0.16deg);
}

.center{
  background: #FDD74B;
  width:100%;
  height:40%;
}

.div-air{
  display: flex;
}

#var-air1{
  display:flex
}

#var-air{
  display:flex;
}

#var-condition{
  display:inline;
}

/* .line-center{
  /* transform: rotate(90deg); */
  /* width:50px;
  height: auto;  
  border-left: 1px solid #000000;
  display:inline-block;
   */

   #temp{
     display:inline;
     font-size: 20px;
     margin-left: 1rem;
   }

   #humid{
     display:inline;
     font-size: 20px;
     margin-left: 1rem;

   }

/* About */


.dev-title{
  text-align: center;
  background: rgba(69, 170, 242, 0.4);
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 82px;
  color: #000000;
  margin-top: 3rem;
}
.dev-para{
  text-align: left;
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 40px;
padding-top: 3rem;
padding-left: 3rem;
padding-right: 3rem;
color: #000000;
}


#dev-bg{
  background-color: #E5E5E5;
}

.dev-header{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 94px;
  margin-top: 3rem;
  color: #000000;
}
.dev-img{
  width: 150px;
  height: 150px;
  background: url(71559404_2061366577297449_2047775247783952384_o.jpg);
  border-radius: 180px;
}

.dev-img1{
    width: 45px;
    height:45px;
    float:right;
    margin-right: 5rem;
    margin-bottom: 2rem;
}

#dev-name{
  padding-top: 0.8rem;
}
#dev-sub{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

color: #000000;
}
.about{
  text-align: center;
}




/* Footer */


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

@media (max-width:1920px)
{
  #quick{
          padding-left: 5rem;
  }
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  #quick{
          padding-left: 5rem;
  }
 
}
@media (max-width:767px)
{
        #quick{
            padding-left: 1.2rem;
        }      
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  
  
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998;
}
.social-icons .facebook {
  background-size: cover;
  background-image: url("https://image.flaticon.com/icons/svg/1384/1384053.svg");
}

.social-icons .github{
  background-size: cover;
  background-image: url("https://image.flaticon.com/icons/svg/270/270798.svg");
}
.social-icons .instagram{
        background-size: cover;
        background-image: url("https://image.flaticon.com/icons/svg/2111/2111463.svg");
}

.social-icons .linkedin{
        background-size: cover;
  background-image: url("https://image.flaticon.com/icons/svg/124/124011.svg");
}



        
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .form
  {
    margin-top: 3.5rem;
  }
}

@media (max-width:366px)
{
  .form
  {
    margin-top: 6rem;
  } 
}


.site-footer{
        background-color: #262e3c;
}
